<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login and Register</title>
    </head>
    <body>
        <form  action="/register" method="post">
            Email: <input type="text" name="email">
            First Name: <input type="text" name="first_name">
            Last Name: <input type="text" name="last_name">
            Password: <input type="text" name="password">
            Password Confirmation: <input type="text" name="password_confirm">
            Birthday: <input type="date" name="birthday">
            <input type="submit" name="" value="Register">
        </form>
        <hr>
        <form action="/login" method="post">
            Email: <input type="text" name="email">
            Password: <input type="text" name="password">
            <input type="submit" name="" value="Login">
        </form>
    </body>
</html>
