<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Quoting</title>

</head>

<body>

    <h1>Welcome to Quoting</h1>
    <form class="form" action="/quotes" method="POST">
        <h4>Your Name: <input type="text" name="name" placeholder="Enter your name..."></h4>
        <h4>Your Quote:   <input type="text" name="quote" placeholder="Enter your quote..."></h4>
        <br>
        <input type="submit" value="Submit">
    </form>

    <a href="/quotes"> <button type="button" name="button">Head to quotes!</button></a>


</body>

</html>
