<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cars Index</title>
    </head>
    <body>
        <h2>Welcome to the Car Dashboard</h2>

        <form class="" action="/cars" method="post">
            <p>Make<input type="text" name="make"></p>
            <p>Model<input type="text" name="model"></p>
            <p>Year<input type="text" name="year"></p>
            <p>Image<input type="text" name="image"></p>
            <input type="submit" name="" value="Create Car ">

        </form>
        <a href="/">Return to homepage</a>
    </body>
</html>
